<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>About</title>
</head>

<body>
    <div>

        {{>header}}
        <p>This site was created by Om Mahwar. It uses data from mapbox.com and weatherstack.net!</p>
        <img src="/img/screenshot (5).png" class="portrait" alt="Local image" />
    </div>
    {{>footer}}
</body>

</html>